@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<from asp-action="Index"
    <label>Nhap ho ten : </label>
    <input type="text" name="FullName"> 
    <label>nhap dia chi:</label>
    <input type="text" name="Address">
    <input type="submit" value="gui :double-button lieu" > 
</from>
<h1>@ViewBag.Message</h1>