<h2>Danh sách người</h2><p>Đây là danh sách tất cả các người trong hệ thống.</p><h1>Du lieu tu Controller gui ve la:
@ViewBag.infoPerson
</h1><from asp-action="Index"><label>Nhập PersonID</label><input type="text" name="PersonID"><label>Nhap ho ten:</label><input type="text" name="FullName"><label>Nhap dia chi:</label><input type="text" name="Address"
<input type="submit" value="gui du lieu"

</from>